<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>e袋洗</title>
<script src="https://jic.talkingdata.com/app/h5/v1?appid=642B7ECDFB9C4E3B7A3F3EF9B9014BF2&vn=1.0&vc=4.0.1"></script>
</head>
<body id="container">
<style>
	img {
		width: 100%;
	}
	body{
		padding: 0;
		margin: 0;
              background: #32425c;
	}
	.box {
		
		height: auto;
		color: #fff;
		font-size: 1.2em;
		text-align: center;
		padding: 2em 1em;
	}
        #container {
          max-width: 640px;
          margin: 0 auto;
        }
</style>

<div class="box" >
	您的授权失败或您未关注e袋洗
	请您扫描下方二维码授权并关注
	<br/>
	<br/>
	<p><img src="../../../style/images/price-1.png"></p>
	<br/>
	<p><img src="../../../style/images/erweima-2.png"></p>
</div>
<script type="text/javascript">
 document.getElementById('container').style.height = window.screen.availHeight;
  
</script>
<?php include template('foot') ?>
</body>
</html>