<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<link href="{php echo assets_link('/framework/style/css/jifen.css')}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{php echo assets_link('/framework/style/js/jquery-1.8.2.min.js')}"></script>
<title>积分规则</title>
<script src="https://jic.talkingdata.com/app/h5/v1?appid=642B7ECDFB9C4E3B7A3F3EF9B9014BF2&vn=1.0&vc=4.0.1"></script>
</head>
<body id="card" ondragstart="return false;" onselectstart="return false;" class="white-bg">
  
  <div>
    <ul class="ruler_list">
      <li>
        <p class="title_ruler"><em>1</em>每日登录</p>
        <p>每次登录领取1个积分，每日一次。</p>
      </li>
      <div class="borderD2"></div>
      <li>
        <p class="title_ruler"><em>2</em>余额支付</p>
        <p>使用余额支付，获得实际支付金额的双倍积分。</p>
      </li>
      <div class="borderD2"></div>
      <li>
        <p class="title_ruler"><em>3</em>非余额支付</p>
        <p>非余额支付，获得实际支付金额同等的积分。</p>
      </li>
      <div class="borderD2"></div>
      <li>
        <p class="title_ruler"><em>4</em>评论</p>
        <p>每评论一个订单可领取5个积分。</p>
      </li>
      <div class="borderD2"></div>
    </ul>
  </div>


<?php include template('foot') ?>
</body>
</html>