<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="description" content="金秋洗礼，充值风暴" />
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>金秋洗礼，充值风暴</title>

<script src="https://jic.talkingdata.com/app/h5/v1?appid=642B7ECDFB9C4E3B7A3F3EF9B9014BF2&vn=1.0&vc=4.0.1"></script>
<style type="text/css">
    div {
      position: relative;
    }
    body {
      padding: 0;
      margin: 0;
      max-width: 750px;
      margin: 0 auto;

    }

    a {
      position: absolute;
      width: 50%;
      height: 200px;
      right: 0;
      bottom: 10%;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
      display: block;
    }
</style>
</head>
<body> 
  <div>
    <img src="{php echo assets_link('/framework/style/images/917_event2.png')}" style="width:100%">
    <a href="{$new_page}"></a>
  </div>
<?php include template('foot') ?>
<div class="p60"></div>
</body>
</html>