body {
  padding: 0;
  margin: 0;
}
.text-center {
  text-align: center;
}
.content img {
  width: 100%;
}
.topImg{
  padding: 20px 50px;
  position: relative;
}
.topImg img {
  height: 30px;
}
.yun {
  position: absolute;
  height: 30px;
}
.yun1{
  top: 10%;
  left: 2%;
}
.yun2{
  right: 2%;
  bottom: 30%;
}
.nav-content a {
  font-size: 12px;
  text-decoration: none;

  display: block;
  float: left;
  width: 27%;
  height: 26px;
  margin-left: 12px;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
  color: #28a6f0;
  -webkit-appearance: none; 
}
.nav-content a.active {
  color: #fff;

}
.nav-content a div {
  padding-top: 3px;
}
.nav-content.active_9 {
  background: url("../images/bar1.png") left center no-repeat;
  /*width: 640px;*/
  background-size: 100% 100%;
  height: 50px;

}
.nav-content.active_19 {
  background: url("../images/bar2.png") left center no-repeat;
  /*width: 640px;*/
  background-size: 100% 100%;
  height: 50px;

}

.nav-content.active_29 {
  background: url("../images/bar3.png") left center no-repeat;
  /*width: 640px;*/
  background-size: 100% 100%;
  height: 50px;

}
.nav-content a b {
  font-size: 16px;
}
.content .center {
  /*height: 40px;*/
  margin: 0;
  clear: both;
  color: #fff;
  background: #28a6f0;
  line-height: 24px;
  padding: 10px;
  font-size: 14px;
  text-align: center;
}
.content {
  background: #eee;
}
.content img {
  margin-bottom: 1px;
  
}
.back-link{ 
    color: #fff;
    background: #ddd;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    border-radius: 6px;
    right: 10px;
    position: fixed;
    padding: 6px 10px;
    opacity: 0.9;
    bottom: 10px;
  }
