<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>充值成功</title>
<link href="{php echo assets_link('/framework/style/css/recharge-gift.css?v=time')}" rel="stylesheet" type="text/css" />
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/framework/style/js/jquery-1.11.1.min.js">\x3C/script>')</script>
</head>
<body>
<div class="recharge-success">
  <p><img src="<?php  echo assets_link('/framework/style/images/chongzhichenggong.png')?>" alt=""></p>
  <p class="blue-color">充值成功</p>
  <div class="spance-height"></div>
</div>

<?php include template('foot') ?>
</body>
</html>
