<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta content="" name="pgv">
<title>礼品详情</title>
<link href="{php echo assets_link('/framework/style/css/recharge-success717.css?v=time')}" rel="stylesheet" type="text/css" />
<script src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/framework/style/js/jquery-1.11.1.min.js">\x3C/script>')</script>
</head>
<body>

<div class="recharge-success">
    <p class="rs_commodity">可兑换以下任意一个商品：</p>
</div>
<section>
    <ul>
        <?php foreach($exchange_items as $item){ ?>
        <li class="gift-content">
            <img class="img_gift" src="{$item['img']}" alt="">
            <div class="gift-introduce">
                <p>{$item['title']}</p>
                <span>{$item['desc']}</span>
                <div class="gift-receive">
                    <p>价值：{$item['money']}元</p>
                    <a href="{$item['url']}">马上领取</a>
                </div>
            </div>
        </li>
        <?php } ?>
    </ul>
</section>
<footer>
  <a href="{$homepage_url}" class="later-receive">稍后领取</a>
</footer>
<script type="text/javascript">
</script>
</body>
</html>